.board-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.board {
	display: grid;
}

.cell {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 3rem;
	aspect-ratio: 1;
	border: 1px solid #1E1E1E;

	color: rgb(255, 205, 141);
	font-size: 1.4em;
	font-weight: 600;
	line-height: 1;
	text-align: center;

	cursor: pointer;
	box-shadow: inset 0 0 0 0.05rem #ccc;
	transition: all 0.3s ease;
	background: #555555;

}

.cell.open {
	background: #ebebeb;
	cursor: default;
}

.cell.boom {
	background: #bd2727;
	cursor: default;
}

.cell.flag {
	padding-left: .4rem;
	font-size: 1.7rem;
}

.cell:hover {
	box-shadow: inset 0 0 0 0.25rem #ccc;
}

.cell:active {
	box-shadow: inset 0 0 0 0.35rem #ccc;
}

.cell._1 {
	color: #4A90E2;
}

.cell._2 {
	color: #50C878;
}

.cell._3 {
	color: #E57373;
}

.cell._4 {
	color: #A569BD;
}

.cell._5 {
	color: #FF8C42;
}

.cell._6 {
	color: #20B2AA;
}

.cell._7 {
	color: #D32F2F;
}

.cell._8 {
	color: #B0BEC5;
}

.game-settings {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 35rem;
	margin-bottom: 1rem;
	gap: 0.5rem;
}

.game-settings input {
	width: calc(50% - 0.5rem);
	border-radius: 0.4rem;
	padding: 0.5rem;
	border: 1px solid gray;
}

.settings-desc {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.settings-desc p {
	font-size: 1.5rem;
	line-height: 1.1;
	font-style: italic;
}

.start {
	display: block;
	margin: 0 auto;
	border: 1px solid rgb(139, 79, 0);
	padding: 10px 15px;
	border-radius: 5px;
	margin-bottom: 25px;
	background: rgba(131, 128, 25, 0.3);
	cursor: pointer;
	max-width: 200px;
	width: 100%;
}

.result h2 {
	margin: 3rem 0 2rem;
	text-align: center;
	font-size: 24px;
}